
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
.container{
width: 100%;
}
/* Header Stylings */
.header{
  width: 100%;
  background-color: white;
  padding: 20px 10px;
  box-shadow: 2px 2px 5px grey;
  position: fixed;
  display: flex;
  top: 0%;
}
.company-logo{
width: 50px;
height: 50px;
margin-left:30px;
}
.header a{
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 16px;
border-radius: 4px;
}

.hr{
display: none;
}
.header a.logo {
font-size: 20px;
font-weight: bold;
}
.header-right {
  display: flex;
  margin: auto;
}
.header-right a, div{
  margin-right: 50px;
}
.input-icons i {
  position: absolute;
}
.icon {
  padding: 10px;
  min-width: 40px;
}
.input-field {
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: none;
}
.wishlist p{
  margin: auto;
}
.bag p{
  margin: auto;
}
.header-right a:hover{
color: red;
}
.hr{
  display: none;
}
.button {
background-color: rgb(114, 114, 230);
border: none;
color: white;
padding: 8px 22px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
transition-duration: 0.4s;
cursor: pointer;
}
.button:hover {
  background-color: rgb(65, 65, 218);
  color: white;
}

/* Main-body stylings */
.Main-body{
margin-top: 100px;
}
.img1 {
background-color: rgb(218, 202, 202);
width: 100%;
height:341px;
margin: 0px 10px 20px 20px;
display: flex;
}
.img1 img{
width: 1000px;
}
.img1 p{
margin: auto;
margin-left: 50px;
margin-right: 20px;
font-size: 30px;
font-weight: 400;
}

/* Top Brands */
.Topbrand, .Categories, .menswear{
font-size: 40px;
margin-left: 20px;
font-weight: 500;
font-family:Arial, Helvetica, sans-serif;
}
.brands{
display: flex;
width: 100%;
justify-content: space-between;
background-color: rgb(150, 212, 209);
padding: 10px;
margin: 0px 20px 20px 20px;
cursor: pointer;
}
.brands div{
display: grid;
background-color: linen;
padding: 10px;
height: 250px;
}
.logos{
width:50px;
height: 30px;
margin: auto;
}
.brandimage{
width:170px;
height: 200px;
border-radius: 2px;
}

/* Categories */
.Categories-container{
background-color: rgb(196, 189, 180);
width: 100%;
padding: 10px;
margin: 0px 20px 20px 20px;
cursor: pointer;
}
.mens-category, .womens-category{
display: flex;
justify-content: space-between;
padding-left: 60px;
}
.womens-category{
padding-top: 20px;
}
.mens-category div, .womens-category div{
background-color: rgb(122, 122, 228);
background-image: linear-gradient(to right, rgb(152, 152, 204), rgb(245, 214, 157));
display: grid;
padding: 10px;
height: 220px;
border-radius: 5px;
}
.mens-category img, .womens-category img{
width: 160px;
height:180px;
border-radius: 4px;
}
.mens-category p, .womens-category p{
margin: auto;
font-size: 18px;
font-style: oblique;
}
.womens-category{
display: flex;
}

/* Mens wear */
.mens-container{
width: 100%;
margin: auto
}
.mens1, .mens2{
display: flex;
justify-content: space-evenly;
margin-left: 100px;
margin-top: 20px;
}
.mens1 div, .mens2 div{
display: grid;
padding: 10px;
margin-left: 20px;
}
.mens-container img{
width:180px;
height: 200px;
}
.mens1 h3, .mens2 h3{
margin: auto;
font-weight: 550;
font-size: 18px;
}

.mens1 p, .mens2 p{
margin: auto;
}

.mens-container button{
background-color: white;
border:1px solid rgb(187, 184, 184);
width: 50px;
height: 30px;
cursor: pointer;
margin-top: 5px;
}
.mens-container button:hover{
border: 2px solid black;
} 
/* Footer */
.footer{
display: flex;
justify-content: space-evenly;
width: 100%;
margin-top: 50px;
background-color: rgba(213, 218, 193, 0.753);
}
.footer p{
font-size: 16px;
}
.footer h5{
font-size: 18px;
}
.copy{
text-align: center;
}
}

/* phone */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  
.header{
height: 40px;
background-color: white;
position: fixed;
box-shadow: 2px 2px 5px grey;
display: flex;
top: 0%;
margin-left: -7px;
}
.company-logo{
  width: 30px;
  height: 30px;
  padding: 5px 5px;
}
.header a.logo {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 2px;
  text-decoration: none;
  color: black;
}
.header-right{
  display: flex;
  padding-left: 60px;
}
.home, .men, .women, .kids{
  display: none;
}
.wishlist p, .bag p{
  display: none;
}
.input-icons input{
  display: none;
}
.hr{
  display: flex;
  height: 20px;
  margin-top: 40px;
  box-shadow: 2px 2px 5px grey;
  background-color: rgb(189, 177, 177);
  position:sticky;
  top: 40px;
}
.hr a{
  margin: auto;
  text-decoration: none;
  color: rgb(71, 71, 238);
}
.hr a:hover{
  color: red;
}
.icon{
  padding: 10px 20px;
}
.wishlist i, .bag i{
  padding: 10px 22px;
}
.button {
  color: black;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin: auto;
  margin-right: 12px;
}
.button:hover {
    background-color: red;
}

/* Main-body stylings */
.Main-body{
  margin-top: 20px;
}
.img1 {
  background-color: rgb(218, 202, 202);
  height:100px;
  margin: 0px 10px 10px 10px;
  display: flex;
}
.img1 img{
  width: 200px;
}
.img1 p{
  margin: auto;
  font-size: 14px;
  font-weight: 400;
}
.m{
  display: grid;
  margin: auto;
}
.m1{
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  color: rgb(4, 25, 88);
}
.m2{
  margin: auto;
  font-size: 14px;
  color: rgb(58, 11, 228);
}

/* Top Brands */
.Topbrand, .Categories, .menswear{
  font-size: 18px;
  margin-left: 10px;
  font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
}
.brands{
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color: rgb(150, 212, 209);
  padding: 10px;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
}
.brands div{
  display: grid;
  background-color: linen;
  padding: 10px;
  height: 120px;
}
.logos{
  width:20px;
  height: 10px;
  margin: auto;
}
.brandimage{
  width: 80px;
  height: 100px;
  border-radius: 2px;
}
.img4, .img5{
  margin-top: 10px;
}

/* Categories */
.Categories-container{
  background-color: rgb(196, 189, 180);
  padding: 10px;
  margin: 0px 10px 10px 10px;
  cursor: pointer;
}
.mens-category, .womens-category{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.womens-category{
  padding-top: 20px;
}
.mens-category div, .womens-category div{
  background-color: rgb(122, 122, 228);
  background-image: linear-gradient(to right, rgb(152, 152, 204), rgb(245, 214, 157));
  display: grid;
  padding: 10px;
  height: 120px;
  border-radius: 5px;
}
.mens-category img, .womens-category img{
  width: 80px;
  height: 100px;
  border-radius: 4px;
}
.mens-category p, .womens-category p{
  margin: auto;
  font-size: 12px;
  font-style: oblique;
}
.womens-category{
  display: flex;
}
.imgs4, .imgs5, .imgs6, .imgs7{
  margin-top: 20px;
}

/* Mens wear */
.mens-container{
  margin: auto
}
.mens1, .mens2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin: auto;
}
.mens1 div, .mens2 div{
  display: grid;
  padding: 10px;
  margin: auto;
}
.mens-container img{
  width:80px;
  height: 90px;
  margin-left: 20px;
}
.mens1 h3, .mens2 h3{
  margin: auto;
  font-weight: 550;
  font-size: 12px;
}

.mens1 p, .mens2 p{
  font-size: 10px;
  margin: auto;
}

.mens-container button{
  background-color: white;
  border:1px solid rgb(187, 184, 184);
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 2px;
}
.mens-container button:hover{
  border: 2px solid black;
} 
/* Footer */
.footers{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  background-color: rgba(213, 218, 193, 0.753);
}
.footers p{
  font-size: 10px;
}
.footers h5{
  font-size: 12px;
}
.copys{
  text-align: center;
}

}

/* Ipad */

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {


  /* Header Stylings */
  .header{
    height: 40px;
    background-color: white;
    position: fixed;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    top: 0%;
    margin-left: -7px;
  }
    .company-logo{
      width: 30px;
      height: 30px;
      padding: 5px 5px;
      padding-left: 50px;
    }
    .header a.logo {
      font-size: 12px;
      font-weight: bold;
      padding: 10px 10px;
      text-decoration: none;
      color: black;
    }
    .header-right{
      display: flex;
      padding-left: 200px;
    }
    .home, .men, .women, .kids{
      display: none;
    }
    .wishlist p, .bag p{
      display: none;
    }
    /* .input-icons input{
      display: none;
    } */
    .input-icons i {
      position: absolute;
  }
  .icon {
      padding: 10px;
      min-width: 40px;
  }
  .input-field {
      padding: 10px;
      text-align: center;
      background-color: #f1f1f1;
      border-radius: 4px;
      border: none;
  }
    .hr{
      display: flex;
      height: 20px;
      margin-top: 40px;
      box-shadow: 2px 2px 5px grey;
      background-color: rgb(189, 177, 177);
      position:sticky;
      top: 40px;
    }
    .hr a{
      margin: auto;
      text-decoration: none;
      color: rgb(71, 71, 238);
    }
    .hr a:hover{
      color: red;
    }
    .icon{
      padding: 10px 20px;
    }
    .wishlist i, .bag i{
      padding: 10px 30px;
    }
    .button {
      color: black;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      margin: auto;
      margin-right: 12px;
      margin-left: 5px;
    }
    .button:hover {
        background-color: red;
    }
    
    /* Main-body stylings */
    .Main-body{
      margin-top: 20px;
    }
    .img1 {
      background-color: rgb(218, 202, 202);
      height:200px;
      margin: 0px 10px 10px 10px;
      display: flex;
    }
    .img1 img{
      width: 500px;
    }
    .img1 p{
      margin: auto;
      font-size: 18px;
      font-weight: 400;
    }
    .m{
      display: grid;
      margin: auto;
  }
  .m1{
      margin: auto;
      font-size: 25px;
      font-weight: 400;
      color: rgb(4, 25, 88);
  }
  .m2{
    margin: auto;
      font-size: 25px;
      color: rgb(58, 11, 228);
  }
    
    /* Top Brands */
    .Topbrand, .Categories, .menswear{
      font-size: 18px;
      margin-left: 10px;
      font-weight: 500;
      font-family:Arial, Helvetica, sans-serif;
    }
    .brands{
      display: flex;
      justify-content: space-evenly;
      flex-wrap:wrap;
      background-color: rgb(150, 212, 209);
      padding: 10px;
      margin: 0px 10px 10px 10px;
      cursor: pointer;
    }
    .brands div{
      display: grid;
      background-color: linen;
      padding: 10px;
      height: 140px;
    }
    .logos{
      width:30px;
      height: 20px;
      margin: auto;
    }
    .brandimage{
      width: 100px;
      height: 120px;
      border-radius: 2px;
    }
    
    /* Categories */
    .Categories-container{
      background-color: rgb(196, 189, 180);
      padding: 10px;
      margin: 0px 10px 10px 10px;
      cursor: pointer;
    }
    .mens-category, .womens-category{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .womens-category{
      padding-top: 20px;
    }
    .mens-category div, .womens-category div{
      background-color: rgb(122, 122, 228);
      background-image: linear-gradient(to right, rgb(152, 152, 204), rgb(245, 214, 157));
      display: grid;
      padding: 10px;
      height: 140px;
      border-radius: 5px;
    }
    .mens-category img, .womens-category img{
      width: 100px;
      height: 120px;
      border-radius: 4px;
    }
    .mens-category p, .womens-category p{
      margin: auto;
      font-size: 12px;
      font-style: oblique;
    }
    .womens-category{
      display: flex;
    }
    
    /* Mens wear */
    .mens-container{
      margin: auto
    }
    .mens1, .mens2{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .mens1 div, .mens2 div{
      display: grid;
      padding: 20px;
    }
    .mens-container img{
      width:80px;
      height: 90px;
    }
    .mens1 h3, .mens2 h3{
      margin: auto;
      font-weight: 550;
      font-size: 12px;
    }
    
    .mens1 p, .mens2 p{
      font-size: 10px;
      margin: auto;
    }
    
    .mens-container button{
      background-color: white;
      border:1px solid rgb(187, 184, 184);
      width: 30px;
      height: 20px;
      cursor: pointer;
      margin-top: 2px;
    }
    .mens-container button:hover{
      border: 2px solid black;
    } 
    /* Footer */
    .footers{
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      background-color: rgba(213, 218, 193, 0.753);
    }
    .footers p{
      font-size: 10px;
    }
    .footers h5{
      font-size: 12px;
    }
    .copys{
      text-align: center;
    }
}